/* khmer */
/*@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  src: local('Hanuman'), url(fonts/hanuman.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}*/
body {
    line-height: 170%;
	font-family: "Hanuman",Arial,serif !important;
    font-size: 17px !important;
}